{{> tiltak-tilsagnsbrev-top-tekst }}

{{> tiltak-tilsagnsbrev-til-dato-ref }}

# Dere har fått innvilget tilskudd til varig tilrettelagt arbeid

{{> tiltak-tilsagnsbrev-detaljer-grp }}

<br/>

Dere må følge betingelsene som gjelder for varig tilrettelagt arbeid. Det vises her til inngått avtale med NAV om gjennomføring
av arbeidsmarkedstiltak.

### Hvordan kan dere få utbetalt pengene?
Dere må fylle ut [skjema for refusjonskrav](https://www.nav.no/soknader/nb/bedrift/refusjoner/arbeidsforberedende-trening-og-vta#NAV761353 "Refusjonskrav AFT og VTA") til NAV.

Kravet sendes etterskuddsvis, og hver måned hvis dere ønsker det, men senest innen {{refusjonfristDato}}.

<br/>

<p>
    Vi betaler for faktisk antall benyttede plasser. Tilskudd utbetales etterskuddsvis etter en fast sats per tiltaksdeltaker per måned for perioden. Hvis dere har mindre deltakere enn avtalt, blir også støtten redusert. Deltakerlister må legges ved kravet som dokumentasjon.
</p>
<br/>
<p>Vi kan kontrollere om pengene som blir utbetalt blir brukt riktig.</p>

{{> tiltak-tilsagnsbrev-orgno-konto }}

{{> tiltak-tilsagnsbrev-signert-av }}


