{{> tiltak-tilsagnsbrev-top-tekst }}

{{> tiltak-tilsagnsbrev-til-dato-ref }}

# Dere har fått innvilget tilskudd til ekspertbistand

{{> tiltak-tilsagnsbrev-detaljer-deltaker }}

<br/>

Dere må følge betingelsene som gjelder for {{tiltakNavn}}. Det vises her til [forskrift om ekspertbistand](https://lovdata.no/dokument/SF/forskrift/2019-08-29-1105?q=ekspertbis "Forskrift ekspertbistand")

### Hvordan kan dere få utbetalt pengene?
Dere må rapportere de faktiske utgiftene innen {{refusjonfristDato}}. Dette gjør dere ved å fylle ut [skjema for refusjonskrav](https://www.nav.no/soknader/nb/bedrift/refusjoner/refusjon-ekspertbistand#NAV761390 "Refusjonskrav for ekspertbistand"), og sende til NAV.

Kravet kan tidligst sendes etter utbetalingsperiodens slutt og senest innen {{refusjonfristDato}}.

<br/>
<p>
    Vi vil regne ut støtten dere har krav på ut fra dokumentasjon som dere sender inn til oss med refusjonskravet. Hvis dere har mindre utgifter enn avtalt, blir også støtten redusert. Tilskuddet utbetales etterskuddsvis, så fort vi har behandlet kravet.
</p>
<br/>
<p>Vi kan kontrollere om pengene som blir utbetalt blir brukt riktig.</p>

{{> tiltak-tilsagnsbrev-orgno-konto }}

{{> tiltak-tilsagnsbrev-signert-av }}
