/* WARNING: Uses CSS 2.1 */

* {
    font-family: "Source Sans Pro", sans-serif !important;
    color: #3E3832;
    border-spacing: 0;
}

html {
    height:100%;
}

body{
    padding: 10mm;
    margin: 0;
    position: relative;
}

#content {
    margin: 1rem;
}

#header {
    margin-bottom: 0mm;
}

#footer {
    position: absolute;
    margin: 0;
    bottom: 0;
    width: 100%;
    height: 25mm;
}

#nav_logo {
    width: 15mm;
    height: 9.1mm;
    margin: auto;
    padding: 0 0 10mm 0;
    position: absolute;
    right: 10mm;
}

.block {
    width: 100%;
    margin-top: 0;
}

.inline {
    display: inline-block;
}

h1 {
    font-size: 25px;
    font-weight: 700;
    margin: 0mm 0 10mm 0;
}

h2 {
    font-size: 22px;
    margin: 3mm 0 1.5mm 0;
}

h3 {
    font-size: 18px;
    margin: 10mm 0 1.5mm 0;
}

p {
    font-size: 14px;
    margin: 0.5mm 0 2mm 0;
}

tr {
    font-size: 14px;
}

pre {
    font-size: 14px;
}

/*
td {
    border: 1px solid black;
}
*/

 table {
    width: 100%;
}

.td01 {
  width: 110px;
  font-size: 12px;
}

.td02 {
  width: 150px;
}

.td03 {
    width: 300px;
}

.td350 {
    width: 350px;
}

.right-align {
    text-align: right;
    padding-right: 70px;
}

.bold {
    font-weight: 700;
}

.new_page {
    page-break-before: always;
}

.error-circle {
    height: 50%;
    padding: 0px 6px;
    background-color: #ff6161;
    border-radius: 50%;
    text-align: center;
    color: white;
  }

  .stor-tekst {
      font-size: 18px;
      font-weight: 600;
  }

  .font-size-13{
      font-size: 13px;
  }

  .strafferunde-table-header {
      height: 60px;
      background-color: rgb(200, 217, 240);
      font-weight: bold;
      vertical-align: top;
  }
  .strafferunde-row > td {
      padding: 5px;
  }
  .strafferunde-table-header > td {
      padding: 5px;
  }
