<br/>
<p>Hilsen NAV</p>

<table style="table-layout: fixed;">
    <tr >
        <td>{{beslutter.fornavn}} {{beslutter.etternavn}} </td>
        <td>{{saksbehandler.fornavn}} {{saksbehandler.etternavn}} </td>
    </tr>
</table>