<br/>
<p>Følgende informasjon er registrert hos NAV:</p>

<table>
    <tr >
        <td class="td02">Bedriftsnummer:</td>
        <td>{{tiltakArrangor.orgNummer}}</td>
    </tr>
    <tr>
        <td class="td02">Kontonummer:</td>
        <td>{{tiltakArrangor.kontoNummer}}</td>
    </tr>
</table>

Hvis dette er feil må dere oppdatere med riktig informasjon på refusjonskravet.
<br/>