<p>
    Vi vil regne ut støtten dere har krav på ut fra inntekt og lønn dere har rapportert inn til oss. Hvis dere har mindre lønnsutgifter enn avtalt, blir også støtten redusert. Tilskuddet utbetales etterskuddsvis, så fort vi har behandlet kravet.
</p>
<br/>
<p>Vi kan kontrollere om pengene som blir utbetalt blir brukt riktig.</p>


