{{> tiltak-tilsagnsbrev-top-tekst }}

{{> tiltak-tilsagnsbrev-til-dato-ref }}

# Dere har fått innvilget tilskudd til funksjonsassistanse

{{> tiltak-tilsagnsbrev-detaljer-deltaker }}

<br/>

Dere må følge [betingelsene (PDF)](https://www.nav.no/_/attachment/download/8075bd9f-b5ea-4e07-8da5-664db0853f03:4d93bb26f8c200862341a8ca2b4ad4ff36c4d1e4/krav-vilkar-og-informasjon-til-tiltaksarrangor-funksjonsassistanse.pdf "krav, vilkår og informasjon funksjonsassistanse") som gjelder for funksjonsassistanse.
Det vises til vedtaksbrev der det er spesifisert antall innvilgede timer med assistent per uke.

### Hvordan kan dere få utbetalt pengene?
Dere må rapportere de faktiske lønnsutgiftene og eventuelle reiseutgifter innen {{refusjonfristDato}}. Dette gjør dere ved å fylle ut [skjema for refusjonskrav](https://www.nav.no/soknader/nb/bedrift/refusjoner/funksjonsassistanse#NAV761381 "Refusjonskrav Funksjonsassistanse") og sende til NAV Hjelpemiddelsentral Møre og Romsdal.
Innvilget tilskudd trekkes tilbake dersom refusjonskravet ikke blir sendt til NAV i rett tid.
Dokumentasjon på lønnsutgiftene og eventuelle reisekostnader må legges ved refusjonskravet.

Kravet kan tidligst sendes etter utbetalingsperiodens slutt og senest innen {{refusjonfristDato}}.

<br/>

<p>
    Hvis dere har mindre lønnsutgifter enn avtalt, blir også støtten redusert.
    Dere må trekke fra for lovpålagt ferie i løpet av året og sykefraværsperioder. Tilskuddet utbetales etterskuddsvis, så fort vi har behandlet kravet.
</p>
<br/>
<p>Vi kan kontrollere om pengene som blir utbetalt blir brukt riktig.</p>

{{> tiltak-tilsagnsbrev-orgno-konto }}

{{> tiltak-tilsagnsbrev-signert-av }}